.form {
    text-align: center;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
    border-radius: 5px;
}

.form__labelText {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}

.form__resetButton {
    max-width: 100%;
    width: 200px;
    padding: 7px;
    margin: 8px;
    border-color: antiquewhite;
    box-shadow: 5px 5px 5px 0px #F7DCA3;
    background-color: #846f43;
    color: rgb(173, 20, 20);
}

.form__resetButton:hover {
    background-color: #e44414;
    width: 210px;
    color: rgb(39, 34, 34);
}

.form__submitButton {
    max-width: 100%;
    width: 200px;
    padding: 7px;
    margin: 8px;
    border-color: antiquewhite;
    box-shadow: 5px 5px 5px 0px #F7DCA3;
    background-color: #846f43;
    color: rgb(14, 13, 13);
}

.form__submitButton:hover {
    background-color: #e0b14c;
    width: 210px;
    color: rgb(39, 34, 34);
}