html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
    font-family: 'Crimson Text', serif;
    background-image: url("../images/currency_background_usd.png");
    background-size: auto 1000px;
    background-attachment: fixed;
}